<div id="login">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="memberNum" class="col-xs-3 control-label">会员号:</label>
			<div class="col-xs-9">
				<input type="text" class="form-control" id="memberNum" placeholder="会员号">
			</div>
		</div>
		<div class="form-group">
			<label for="memberNum" class="col-xs-3 control-label">密码:</label>
			<div class="col-xs-9">
				<input type="password" class="form-control" id="memberNum" placeholder="密码">
			</div>
		</div>
		<div class="form-group">
			<div class="col-xs-offset-3 col-xs-9">
				<button type="submit" class="btn btn-default col-xs-6">登录</button>
			</div>
		</div>
	</form>
</div>